* {
  margin: 0;
  padding: 0;
}
:root {
  --light-purple: #ede4ff;
  --purple: #d7bbf5;
  --dark-purple: #6528f7;
  --lime: #E9FFC2;
}
body {
  background-color: var(--light-purple);
  color: var(--dark-purple);
}
/*nav bar*/
.navbar {
  background-color: var(--purple);
  padding: 1vw 3vw;
}
.navbar-brand{
    color: var(--lime);
    font-size: 40px;
    font-weight: 600;
}
.navbar-brand:hover{
    color: var(--dark-purple);
}
.nav-link {
  color: var(--dark-purple);
  font-size: 18px
}
.navbar-nav {
  gap: 2vw;
}
.nav-link:hover {
  color: var(--lime);
}
/*nav bar*/
/*about me*/
/*about me*/

/*work*/
.col{
   padding: 1vw;
}
.card img{
    height: 15rem;
}

.card-body{
    background-color:var(--lime);
    color: var(--dark-purple);
}
.btn{
    background-color: var(--dark-purple);
border-color: var(--lime);
color: var(--light-purple);

}
.btn:hover{
    background-color: var(--purple);
    color: var(--dark-purple);
    border-color: var(--dark-purple);
    box-shadow: 0 4px 8px var(--dark-purple);
}
/*work*/

/*contact*/
/*contact*/

/*footer*/
.footer-content{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.menu-footer{
    display: flex;
    gap: 5vw;
    padding: 3vw 0;
}
.footer-content a{
    text-decoration: none;
    color: var(--dark-purple);
}
.footer-content a:hover{
    text-decoration: underline 3px var(--lime);    
}
/*footer*/
/*

}