* {
  margin: 0;
  padding: 0;
}
:root {
  --light-purple: #ede4ff;
  --purple: #d7bbf5;
  --dark-purple: #6528f7;
  --pink: #FFCEFE;
  --dark-pink:#FF55BB;
}
body {
  background-color: var(--light-purple);
  color: var(--dark-purple);
}
/*nav bar*/
.navbar {
  background-color: var(--purple);
  padding: 1vw 3vw;
}
.nav-link {
  color: var(--dark-purple);
  font-size: 18px;
}
.navbar-nav {
  gap: 2vw;
}
.nav-link:hover {
  color: var(--dark-pink);
}
/*nav bar*/
/*about me*/
.jumbotron{
    background-image: url(../images/sky.jpg);
    background-size: cover;
}
/*about me*/

/*work*/
.col {
  padding: 1vw;
}
.card img {
  height: 15rem;
}

.card-body {
  background-color: var(--pink);
  color: var(--dark-purple);
}
.btn {
  background-color: var(--dark-purple);
  border-color: var(--pink);
  color: var(--light-purple);
}
.btn:hover{
  background-color: var(--purple);
  color: var(--dark-purple);
  border-color: var(--dark-purple);
  box-shadow: 0 4px 8px var(--dark-purple);
}
/*work*/
/*skills*/
.skills-container {
  padding: 6vw;
  background-color: var(--pink);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}
/*skills*/

/*contact*/
/*contact*/

/*footer*/

.text-footer a {
  text-decoration: none;
  color: var(--dark-purple);
}
footer a:hover {
  text-decoration: underline 3px var(--dark-pink);
}
/*footer*/
